.diff_line {
    padding-left: 10px;
    font-family: Consolas, "Liberation Mono", Courier, monospace
}

.diff_view {

}

.diff_add {
     color: green;
}

.diff_del {
    color: red;
}

.diff_window {
    border: 1px solid black;
    padding: 4px;
}

.diff_window .row {
    margin-left: 0px;
}

pre {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 0px;
    margin: 0px;
}
