<div class="container">
    <button type="button" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="brand" href="/index.html">pyReviewer</a>

    <div class="nav-collapse collapse">
        <ul class="nav">
            <li class="notactive">
                <a href="/dashboard">Dashboard</a>
            </li>
            <li class="">
                <a href="/source">Source</a>
            </li>
            <li class="">
                <a href="/projects">Projects</a>
            </li>
            <li class="">
                <a href="/people">People</a>
            </li>
            <li class="">
                <a href="/reviews">Reviews</a>
            </li>
        </ul>
    </div>
</div>
